mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			mixin item(title, img, text)
				+e.item&attributes(attributes)
					if img
						+e.wrap
							+e.img-wrap: .img-wrap-center: +img(`img/${img}`, 'bg')
							+e.open-img: +icon('chevron-up')
					+e.content
						h6!= title
						-for(let i = 0; i < text.length; i++)
							p!= text[i]
						+e.link(href='#')
							span далее
							+icon('chevron-right')
			mixin card(img, title)
				+e.card.bg-wrap(href='#')
					+img(`img/${img}`, 'bg').picture-bg
					h6!= title
			+e.row.row
				.col-md-6.col-lg-4: +item('Новый виртуальный выставочный зал Metabo', 'sAbout-img-1.jpg', ['Начните виртуальную экскурсию по нашему выставочному залу!'])
				.col-md-6.col-lg-4: +item('Metabo во всем мире: адреса и контакты', 'sAbout-img-1.jpg', ['Metabo — всегда рядом.', 'Благодаря 1800 сотрудникам, 25 дочерним торговым компаниям и 100 импортерам на всех континентах мы имеем глобальное присутствие и всегда рядом, где бы и когда бы вы ни нуждались в нас.'])
				.col-md-6.col-lg-4: +item('Работаете с разными брендами?', 'sAbout-img-2.jpg', ['И все это с помощью всего лишь одного аккумулятора CAS. CAS — мультибрендовая аккумуляторная система.'])
				.col-md-6.col-lg-4: +card('sAbout-img-3.jpg', 'Каталоги и брошюры')
				.col-md-6.col-lg-4: +card('sAbout-img-4.jpg', 'Конфигуратор PICK+MIX')
				.col-md-6.col-lg-4: +item('Гарантия XXL — 3-летняя гарантия Metabo', '', ['Наши электроинструменты имеют особенно долгий срок службы. Поскольку они редко требуют ремонта, Metabo разработала для вас дополнительную гарантию — гарантию XXL. Если вы зарегистрируетесь, обычная гарантия продлится до 3 лет.']).--second
				.col-md-6: +item('ПРОФЕССИОНАЛЬНЫЕ СИСТЕМНЫЕ РЕШЕНИЯ ДЛЯ СТРОИТЕЛЬНОЙ ОТРАСЛИ.', 'sAbout-img-5.jpg', ['Реставрация, обновление и модернизация являются важнейшими строительными задачами в 21 веке. Поэтому для удовлетворения этих растущих потребностей требуются все более комплексные профессиональные решения. Именно по этой причине мы были на месте и внимательно слушали профессионалов по всей Европе, и теперь мы лучше информированы о том, что вам нужно:'])
				.col-md-6: +item('ИНДИВИДУАЛЬНЫЕ РЕШЕНИЯ ДЛЯ МЕТАЛЛОТОРГОВЛИ И ПРОМЫШЛЕННОСТИ.', 'sAbout-img-5.jpg', ['Мы в Metabo знаем, что машины достигают своих пределов каждый день. Поэтому мы разработали нашу продукцию для жесткого промышленного использования: высокая производительность, исключительная прочность и надежная безопасность делают наши машины надежными партнерами.', 'Что бы вам ни понадобилось сделать, вы всегда получите надежное системное решение: мощные инструменты, точно подобранные принадлежности и сервис, адаптированный под ваши требования. Наша работа — облегчить вашу работу, поэтому доверьтесь Metabo!'])
	// end sAbout